#search-bar {
  background-image: url("../images/background_search_mobile.jpg");
  background-size: cover;
  min-height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.filters {
  list-style: none;
  color: white;
  border-bottom: 1px solid white;
  display: flex;
  margin-bottom: 3vh;
}

.filters li {
  width: 8vw;
  margin: 15px 30px;
  text-align: center;
  font-weight: bold;

}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 3vh;

}

.search-input {
  height: 2vh;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
}

.search-input:first-of-type {
  margin-bottom: 1vh;

}

.search-button {
  border-radius: 5px;
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.2rem;
  width: 50%;
}

@media screen and (min-width: 410px) {

  #search-bar {
    min-height: 40vh;
    background-image: url("../images/background_search_desktop.jpg");
    min-height: 60vh;
  }

  .inputs {
    flex-direction: row;
  }

  .search-input {
    width: 20vw;
    margin: 10px;
  }

  .search-button {
    padding: 10px 15px;
    width: 30%
  }
}
